.section {
  margin: 1rem;
}

.time {
  font-size: 14px;
  font-weight: 600;
  color: var(--time);
}

// Shared SCSS with `Button`.
.internalLink {
  border: none;
  color: var(--thanks);
  font-size: inherit;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  display: inline-block;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.2s;
  text-decoration: none;

  // FIXME: Temporarily set to make sure that the 'Share note' and 'Return to note' doesn't crash.
  margin-right: 0.5rem;

  &:hover {
    color: var(--time);
  }

  &:focus {
    outline: none;
    transform: scale(1.05);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
  }
}
