@use './breakpoints';

.base {
  all: unset;
  width: 100%;
  word-break: break-word;
  overflow-wrap: anywhere;
  overflow: hidden;
  white-space: pre;
}

.title {
  font-weight: 900;
  font-size: 2.4rem;
  line-height: 3rem;

  @include breakpoints.respond(large) {
    font-size: 1.6rem;
  }
}

.content {
  font-size: 1.2rem;
  line-height: 2rem;

  @include breakpoints.respond(small) {
    font-size: 1rem;
  }
}

.frozen {
  color: var(--frozen);
}
