.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  gap: 12px;
}

.title {
  font-size: 24px;
  font-weight: 700;
}

.subtitle {
  font-size: 16px;
  font-weight: 500;
}
